.title,
.container {
  width: 400px;
  margin: 0 auto;
  background-color: rgb(220, 246, 198);
}

.title {
  padding: 15px;
  background-color: orange;
  text-align: center;
}

.container {
    padding: 15px;
}