.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48%;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(228, 192, 192);
  font-size: 16px;
}
